name: Demo Workflow Node.js

on: 
  push:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code source
        uses: actions/checkout@v6
      
      - name: Installation de Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          cache: 'npm'

      - name: Installation des dépendances
        run: npm ci

      - name: Compile le projet
        run: npm run build

      - name: Vérification de la compilation
        run: | 
          test -f dist/index.html
          cat dist/index.html | grep '<div id="blabla"></div>'